*, *::before, *::after {
  box-sizing: inherit;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.services, .portf-nav, .soc--white, .soc, .menu-connect, .menu-nav, .list-box {
  margin: 0;
  padding: 0;
  list-style: none;
}

.body {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  cursor: pointer;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1600px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1600px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.logo, .logo:focus {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #000;
}
@media screen and (max-width: 767px) {
  .logo, .logo:focus {
    padding: 10px 15px;
  }
}
@media screen and (min-width: 1600px) {
  .logo, .logo:focus {
    display: inline-block;
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__web {
  color: #2196f3;
}

.menu-nav {
  display: none;
}

.page-header__menu-nav {
  margin-left: 93px;
}

.menu-nav__item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}

.menu-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav__link:hover, .menu-nav__link:focus {
  color: #2196f3;
}
.menu-nav__link--activ {
  color: #2196f3;
}
.menu-nav__link--activ::after {
  display: block;
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

.menu-connect {
  display: none;
}

.menu-connect__item:not(:last-child) {
  margin-right: 50px;
}

.menu-connect__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-connect__link:hover, .menu-connect__link:focus {
  color: #2196f3;
}

.menu-connect__icon {
  margin-right: 10px;
  fill: currentColor;
}

.soc {
  display: flex;
}

.soc--space {
  justify-content: center;
}

.soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link--bg {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.soc__link:hover, .soc__link:focus {
  background-color: #2196f3;
}
.soc__link:hover .soc__icon, .soc__link:focus .soc__icon {
  fill: #fff;
}

.soc__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link--bg .soc__icon {
  fill: #fff;
}

.soc--white {
  display: flex;
  justify-content: center;
  color: #fff;
}

.soc__item:not(:last-child) {
  margin-right: 10px;
}

.menu-portf {
  margin-bottom: 50px;
}

.portf-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portf-nav .portf-nav__item:not(:last-child) {
  margin-right: 8px;
}

.btn--inactive {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  color: #212121;
  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--inactive:hover, .btn--inactive:focus {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.services__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin: 15px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.product__portf {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.product__img {
  display: block;
}

.product {
  text-decoration: none;
}
.product:hover .product__shadow, .product:focus .product__shadow {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product:hover .product__title, .product:focus .product__title {
  transform: translateY(-100%);
}

.product__overley {
  position: relative;
  overflow: hidden;
}

.product__title {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  left: 0;
  margin: 0;
  background-image: linear-gradient(rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__line {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;
}

.footer__item:not(:last-child) {
  margin-right: 30px;
}

.join {
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
}

.page-footer__join {
  margin-bottom: 20px;
}

.logo--white, .logo--white:focus {
  margin-bottom: 20px;
  color: #fff;
}
.mail-tel {
  display: inline-block;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-tel:hover, .mail-tel:focus {
  color: #2196f3;
}

.address__mail-tel {
  margin-bottom: 9px;
}

.adr {
  font-style: normal;
  color: #fff;
}

.page-footer__adr {
  margin-top: 0;
  margin-bottom: 9px;
}

.subscribe__label {
  width: 100%;
}

.subscribe__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
}

.subscribe__input {
  height: 50px;
  padding: 15px 16px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.btn__icon {
  margin-left: 10px;
}

.btn--right-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 200px;
  margin-left: 12px;
  padding: 10px 28px 10px 29px;
}/*# sourceMappingURL=portfolio.css.map */