.menu-connect {
  display: none;
  // display: flex;
  @extend %list-ul;
}

.menu-connect__item:not(:last-child) {
  margin-right: 50px;
}

.menu-connect__link {
  // @include centered-flex();

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $main-text-color;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $main-color;
  }
}

.menu-connect__icon {
  margin-right: 10px;
  fill: currentColor;
}
