.list-box--align {
  align-items: stretch;
}

.features {
  margin: 15px;
  flex-basis: 100%;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.features__icon {
  margin-bottom: 30px;
  background-color: $features-background;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.features__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $title-color;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  margin: 0;
}
