.features {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1600px) {
    width: 270px;
  }
}

.features__icon {
  // @include centered-flex();
  margin-bottom: 30px;
  background-color: $features-background;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.features__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $title-color;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  margin: 0;
}
