.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: $backdrop;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 15px;
  width: calc(100% - 30px);

  @media screen and (min-width: 480px) {
    width: 450px;
    padding: 40px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }

  background-color: $white-title-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: $title-color;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.modal__list {
  @extend %list-ul;
}

.modal__item {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__inp {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;
  margin-bottom: 10px;

  border: 1px solid $modal-inp;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: $main-color;

    + svg {
      fill: $main-color;
    }
  }
}

.modal__icon {
  position: absolute;
  bottom: 21px;
  left: 12px;
  fill: $blacklogo-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__area {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  @media screen and (min-width: 1200px) {
    font-size: 12px;
    line-height: 1.17;
  }

  border: 1px solid $modal-inp;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $placeholder;
  }

  &:focus {
    outline: none;
    border-color: $main-color;
  }
}

.check {
  position: relative;
  display: flex;
  align-items: center;

  font-size: 12px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.check__link {
  color: $main-color;
}

.check__icon {
  position: absolute;
  fill: $white-title-color;
  cursor: pointer;
}

.check__inp {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:checked ~ .check__bord {
    border-color: $main-color;
    background-color: $main-color;
  }
}

.check__bord {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;

  border: 2px solid $title-color;
  border-radius: 2px;
}

.btn--submit {
  display: block;
  margin: 30px auto 0px;
  padding: 10px 55px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  @include centered-flex();
  width: 30px;
  height: 30px;
  padding: 0;

  background-color: $white-title-color;
  border: 1px solid $btn-close-border;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    .btn-close__icon {
      fill: $main-color;
    }
  }
}

.btn-close__icon {
  fill: $blacklogo-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
