.page-header {
  position: relative;
  border-bottom: 1px solid $header-line;
}

.page-header__nav {
  padding: 10px 0;

  @media screen and (max-width: 767px) {
    @include centered-flex($justify: space-between);
  }
}

@media screen and (min-width: 768px) {
  // .container--flex {
  //   @include centered-flex($justify: space-between);
  // }

  .page-header__nav {
    @include centered-flex($justify: flex-start);
    padding: 0;
  }
}
