@media screen and (min-width: 1200px) {
  .subscribe {
    @include centered-flex($align: flex-end);
  }
}

.subscribe__title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $white-title-color;
}

.subscribe__input {
  height: 50px;
  padding: 15px 16px;
  width: 100%;

  background-color: transparent;
  border: 1px solid $input-border;
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $mail-tel-color;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: $mail-tel-color;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.btn--right-icon {
  @include centered-flex($type: inline-flex);
  padding: 10px 28px;

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.btn__icon {
  margin-left: 10px;
}
