.section--bg {
  background-color: $btn-portf-bg;
}

.team {
  margin: 15px;
  flex-basis: 100%;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.team__img {
  display: block;
  width: 100%;
}

.team__title {
  padding: 30px 32px 24px;
  background-color: $white-title-color;
  border-radius: 0px 0px 4px 4px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding: 30px 32px;
  }
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: $title-color;
}

.team__prof {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  color: $main-text-color;
}
