* {
  box-sizing: inherit;

  &::before,
  &::after {
    @extend *;
  }
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

%list-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin centered-flex($type: flex, $justify: center, $align: center) {
  display: $type;
  justify-content: $justify;
  align-items: $align;
}

.body {
  box-sizing: border-box;
  font-family: $main-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-text-color;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.btn {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  font-family: $main-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $white-title-color;
  background-color: $main-color;

  cursor: pointer;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;

  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: $title-color;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.list-box {
  @include centered-flex();
  flex-wrap: wrap;
  @extend %list-ul;
  margin: -15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
