$main-color: #2196f3;
$main-family: Roboto, sans-serif;
$main-text-color: #757575;
$title-color: #212121;
$blacklogo-color: #000;
$white-title-color: #fff;
$icon-color: #afb1b8;
$header-line: #ececec;
$features-background: #f4f3f9;
$mail-tel-color: rgba(255, 255, 255, 0.6);
$soc-bg-dark: rgba(255, 255, 255, 0.1);
$btn-portf-bg: #f5f4fa;
$bg-dark: #2f303a;
$services-line: #eeeeee;
$input-border: rgba(255, 255, 255, 0.3);
$backdrop: rgba(0, 0, 0, 0.2);
$btn-close-border: rgba(0, 0, 0, 0.1);
$modal-inp: rgba(33, 33, 33, 0.2);
$placeholder: rgba(117, 117, 117, 0.5);
